<div class="standard-list-view">
  <div class="list-container">
    @for (item of listVM(); track item.tb_tyapp_ap_lg_id) {
      <a class="item-link" [routerLink]="['../edit', item.tb_tyapp_ap_lg_id]">
        <div class="item-content">
          <div class="item-info-group">
            <span class="main-text"
              >v{{ item.version_major }}.{{ item.version_minor }}.{{
                item.version_patch
              }}
              - {{ item.version_date }}</span
            >
            <span class="sub-text"
              >{{ item.categoryName }} · By {{ item.authorName }}</span
            >
          </div>

          <div class="item-status-group">
            <span class="status-tag" [class.inactive]="item.status === 0">
              {{ item.status === 1 ? "Published" : "Draft" }}
            </span>
            <mat-icon class="chevron">chevron_right</mat-icon>
          </div>
        </div>
      </a>
    } @empty {
      @if (!logService.loading()) {
        <div class="empty-placeholder">No logs found.</div>
      }
    }
  </div>

  <footer class="list-footer">
    <div class="divider"></div>
    <span class="count-text">TOTAL {{ listVM().length }} LOGS</span>
  </footer>
</div>
