<div class="standard-list-view">
  <div class="list-container">
    @for (user of userService.users(); track user.user_id) {
      <a class="item-link" [routerLink]="['../edit', user.user_id]">
        <div class="item-content">
          <div class="item-info-group">
            <span class="main-text">{{ user | tyDisplayName }}</span>
            <span class="sub-text"
              >{{ user.role | tyRoleLabel }} · {{ user.user_id }}</span
            >
          </div>

          <div class="item-status-group">
            <mat-icon class="chevron">chevron_right</mat-icon>
          </div>
        </div>
      </a>
    } @empty {
      @if (!userService.loading()) {
        <div class="empty-placeholder">No items found.</div>
      }
    }
  </div>

  <footer
    class="list-footer"
    [hidden]="userService.loading() || userService.users().length === 0"
  >
    <div class="divider"></div>
    <span class="count-text"
      >TOTAL {{ userService.users().length }} ITEMS</span
    >
    @if (userService.loading()) {
      <mat-spinner diameter="16"></mat-spinner>
    }
  </footer>
</div>
